<template>
	<div id="app" class="container">
		<h1>Cookie на странице</h1>

		<modal v-if="showModal"
			   :cookies="cookies"
			   :id="mayBeDeleted"
			   @close="dontDelete"
			   @delete="onDelete($event)"
		></modal>

		<modalError v-if="modalError" 
					@close="modalError = false"></modalError>

		<div class="addCookie">
			<button type="button"
			 		class="btn btn-success mr-3 mb-3"
					@click="showAdd = !showAdd">
				+
			</button> 
			<span>Добавить новую запись в cookie</span>
		</div>
		
		<form @submit.prevent="addCookie"
			  v-if="showAdd"
			  class="mb-3 add-form">
			<div class="form-group">
				<label for="input1">Имя</label>
				<input type="text" class="form-control" id="input1" placeholder="Введите имя cookie"
					   v-model="input.input1">
			</div>
			<div class="form-group">
				<label for="input2">Значение</label>
				<input type="text" class="form-control" id="input2" placeholder="Введите значение cookie"
					   v-model="input.input2">
			</div>
			<div class="form-group">
				<label for="input3">Срок жизни (кол-во дней)</label>
				<input type="text" class="form-control" id="input3" placeholder="Введите срок жизни cookie"
					   v-model="input.input3">
			</div>
		
			<button type="submit" class="btn btn-primary">Добавить</button>
		</form>

		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Имя</th>
					<th scope="col">Значение</th>
					<th scope="col">Срок годности</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(cookie, index) in cookies"
					:key="index">
					<th scope="row">{{ index }}</th>
					<td>{{ cookie.name }}</td>
					<td>{{ cookie.value }}</td>
					<td>{{ cookie.hasOwnProperty('maxAge') ? cookie.maxAge : '---' }}</td>
					<button type="button" class="btn btn-danger"
							@click="deleteCookie(index)">X</button>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import modal from './components/modal'
import ModalError from './components/ModalError'

export default {
	components: {
		modal,
		modalError: ModalError
	},
  	data(){
        return {
			cookies: [],
			showModal: false,
			modalError: false,
			showAdd: false,
			mayBeDeleted: '',
			input: {input1: '', input2: '', input3: ''}
		}
	},
	mounted() {
		this.cookies = document.cookie.split(';')	//Преобразую строку cookie в удобный массив объектов
		.map(item => item.split('='))
		.map((item) => ({name: item[0], value: item[1]}));
	},
    methods: {
		deleteCookie(id){	//Вызов модального окна и передача id
			this.mayBeDeleted = id;
			this.showModal = true;
		},
		dontDelete(){	//Закрытие модального окна
			this.showModal = false;
			this.mayBeDeleted = '';
		},
		onDelete(data){		//Удаление cookie
			this.showModal = false;
			this.$delete(this.cookies, data.id);	//удаляю из данных
			document.cookie = `${data.name}=${data.value}; max-age=0`;	//удаляю из страницы
		},
		addCookie(){
			const maxAge = this.input.input3 * 24 * 3600;

			const obj = {
				name: this.input.input1,
				value: this.input.input2,
				maxAge: this.input.input3
			};

			const isEmpty = Object.values(obj).some( item => item == '');

			if (!isEmpty && maxAge > 0) {
				this.cookies.push(obj);
				document.cookie = `${obj.name}=${obj.value}; max-age=${maxAge}`;	//добавляю куку
				for (const key in this.input) {
					this.input[key] = '';
				}
			} else {
				this.modalError = true;
			}
		}
	}
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.addCookie {
	text-align: left;
}
.add-form {
	border: 1px solid #ced4da;
    padding: 30px;
    border-radius: 5px;
}
</style>
